.dots-loader {
    text-align: center;
    width: 85px;
    height: 30px;
}
.dots-loader span {
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    margin: 15px auto;
    background: black;
    border-radius: 50px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
}
.dots-loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.dots-loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
@-webkit-keyframes loader {
  0% {
    width: 5px;
    height: 5px;
    opacity: 0.9;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 12px;
    height: 12px;
    opacity: 0.1;
    -webkit-transform: translateY(-15px);
  }
}
@-moz-keyframes loader {
  0% {
    width: 5px;
    height: 5px;
    opacity: 0.9;
    -moz-transform: translateY(0);
  }
  100% {
    width: 12px;
    height: 12px;
    opacity: 0.1;
    -moz-transform: translateY(-15px);
  }
}
